<header class="shadow">
  <div class="left-section" routerLink="/">
    <h1>Soundarya S</h1>
    <h3>Frontend Developer</h3>
  </div>

  <nav class="top-navbar">
    <ul>
      <li
        *ngFor="let item of navigationItems"
        [class.active]="isActive(item.link)"
        class="me-5"
      >
        <div *ngIf="item.showInTopNav">
          <a [routerLink]="item.link" routerLinkActive="text-danger">{{
            item.label
          }}</a>
          <div class="line" *ngIf="isActive(item.link)"></div>
        </div>
      </li>
    </ul>
  </nav>

  <div class="right-section">
    <button routerLink="/contact" class="reach-out">Reach Out</button>
  </div>

  <div class="side-navbar" [class.open]="isSideNavOpen">
    <span class="close-side-nav" (click)="closeSideNav()"> &times;</span>
    <div>
      <nav>
        <ul class="d-flex flex-column mt-4">
          <li
            *ngFor="let item of navigationItems"
            [class.active]="isActive(item.link)"
            class="me-5"
          >
            <a
              [routerLink]="item.link"
              routerLinkActive="text-danger"
              (click)="closeSideNav()"
              >{{ item.label }}</a
            >
            <div class="line" *ngIf="isActive(item.link)"></div>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div
    class="side-nav"
    style="font-size: 2.3rem; margin-bottom: 0.5rem; cursor: pointer"
    (click)="toggleSideNav()"
  >
    ≡
  </div>
</header>
