header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;

  .left-section {
    text-align: left;
    cursor: pointer;
    h1 {
      margin: 0;
      color: #ff3333;
    }
  }

  nav {
    text-align: center;
    ul {
      position: relative;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          color: #fff;
          transition: color 0.3s ease;
        }
        .line {
          width: 85%;
          height: 2.5px;
          background-color: #ff3333;
          margin: 0 auto;
          border-radius: 3px;
        }
        a:hover {
          color: #ff3333;
          text-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
        }
      }
    }
  }

  .right-section {
    text-align: right;

    .reach-out {
      color: #ff3333;
      border: none;
    }

    button:hover {
      background-color: #ff3333;
      color: #fff;
      transform: scale(1.1);
      box-shadow: 0 2px 4px rgba(255, 0, 0, 0.7);
      transition: transform 0.3s ease, color 0.3s ease-in-out,
        box-shadow 0.3s ease;
    }
  }
  .side-navbar {
    // position: fixed;
    display: flex;
    justify-content: center;
  }

  .close-side-nav {
    font-size: x-large;
    float: right;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  header {
    padding: 2.5rem;
    height: 4rem;

    .left-section {
      h1 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 0.7rem;
        text-align: center;
      }
    }

    .side-navbar {
      position: fixed;
      top: 4rem;
      left: -10rem;
      width: 10rem;
      height: 100%;
      color: red;
      background-color: black;
      z-index: 10;
      transition: left 0.3s ease;
    }
    .side-navbar.open {
      left: 0;
    }
    .top-navbar {
      display: none;
    }

    nav {
      ul {
        li {
          margin: 2rem 0;
          a {
            font-size: 1rem;
          }
          .line {
            width: 35%;
          }
        }
      }
    }

    .right-section {
      display: none;
    }
  }
  .side-nav {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px 50px;

    .left-section {
      text-align: left;
      cursor: pointer;
      h1 {
        margin: 0;
        font-size: 36px;
        color: #ff3333;
      }

      h3 {
        margin-left: 12px;
        font-size: 18px;
      }
    }

    nav {
      text-align: center;
      margin-top: 15px;
      ul {
        position: relative;
        li {
          display: inline-block;
          margin-right: 20px;
          a {
            text-decoration: none;
            font-size: 22px;
            color: #fff;
            transition: color 0.3s ease;
          }
          .line {
            width: 85%;
            height: 2.5px;
            background-color: #ff3333;
            margin: 0 auto;
            border-radius: 3px;
          }
          a:hover {
            color: #ff3333;
            text-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
          }
        }
      }
    }

    .right-section {
      text-align: right;

      .reach-out {
        font-size: 22px;
        font-weight: 600;
        color: #ff3333;
        border: none;
        border-radius: 30px;
        padding: 4px 15px;
      }

      button:hover {
        background-color: #ff3333;
        color: #fff;
        transform: scale(1.1);
        box-shadow: 0 2px 4px rgba(255, 0, 0, 0.5);
        transition: transform 0.3s ease, color 0.3s ease-in-out,
          box-shadow 0.3s ease;
      }
    }

    .side-nav,
    .side-navbar {
      display: none;
    }
  }
}
@media (min-width: 1440px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px 50px;

    .left-section {
      text-align: left;
      cursor: pointer;
      h1 {
        margin: 0;
        font-size: 36px;
        color: #ff3333;
      }

      h3 {
        margin-left: 12px;
        font-size: 18px;
      }
    }

    nav {
      text-align: center;
      margin-top: 15px;
      ul {
        position: relative;
        li {
          display: inline-block;
          margin-right: 20px;
          a {
            text-decoration: none;
            font-size: 22px;
            color: #fff;
            transition: color 0.3s ease;
          }
          .line {
            width: 85%;
            height: 2.5px;
            background-color: #ff3333;
            margin: 0 auto;
            border-radius: 3px;
          }
          a:hover {
            color: #ff3333;
            text-shadow: 0 0 5px rgba(255, 0, 0, 0.6);
          }
        }
      }
    }

    .right-section {
      text-align: right;

      .reach-out {
        font-size: 22px;
        font-weight: 600;
        color: #ff3333;
        border: none;
        border-radius: 30px;
        padding: 4px 20px;
        box-shadow: 0 2px 4px rgba(255, 0, 0, 0.7);
      }

      button:hover {
        background-color: #ff3333;
        color: #fff;
        transform: scale(1.1);
        box-shadow: 0 2px 4px rgba(255, 0, 0, 0.7);
        transition: transform 0.3s ease, color 0.3s ease-in-out,
          box-shadow 0.3s ease;
      }
    }

    .side-nav,
    .side-navbar {
      display: none;
    }
  }
}
