<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Soundarya S</h1>
        <h3>Frontend Developer</h3>
    </div>
    <div style="text-align: right;">
        <a href="www.linkedin.com/in/soundarya-s-9638081bb"  target="_blank" class="">
            <img src="../../assets/linkedin-1.svg" alt="" width="32" height="32" class="rounded-circle  me-2">
            
        </a>
        <a href="https://github.com/Soundaryas123"  target="_blank" class="">
            <img src="../../assets/github.svg" alt="" width="32" height="32" class="rounded-circle me-2">
           
        </a>
    </div>
</div>