.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}

app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

router-outlet {
  padding-top: 112.79px;
}
