<div class="container my-5">
  <div class="text-center">
    <button
      class="btn btn-primary mb-5 px-4 py-2 fs-4 bg-black text-danger rounded-4 shadow border"
      (click)="downloadFile()"
    >
      Download PDF Resume
    </button>
    <div class="pb-2">
      <accordion [isAnimated]="true" class="shadow">
        <accordion-group *ngFor="let section of sections">
          <button
            class="btn btn-block justify-content-between d-flex w-100 bg-black"
            accordion-heading
            (click)="toggleSection(section)"
          >
            <div style="visibility: hidden">></div>
            <div class="btn text-danger">{{ section.heading }}</div>
            <div style="width: 10.9px">
              <div style="color: white" *ngIf="!section.isOpen">▼</div>
              <div style="color: white" *ngIf="section.isOpen">▲</div>
            </div>
          </button>
          <div class="text-center mx-auto">

            <ul *ngIf="section.isOpen"  >
              <li *ngFor="let item of section.content" style="text-align: left;">
                <strong *ngIf="item.heading">{{ item.heading }}:</strong> {{ item.definition }}
              </li>
            </ul>
          </div>


        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
